USE [master]
GO
/****** Object:  Database [CarRent]    Script Date: 23/04/2018 00:59:21 ******/
CREATE DATABASE [CarRent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CarRent.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CarRent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CarRent_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRent]
GO
/****** Object:  Table [dbo].[branchs_tbl]    Script Date: 23/04/2018 00:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branchs_tbl](
	[BranchId] [int] IDENTITY(1,1) NOT NULL,
	[Adress] [varchar](30) NOT NULL,
	[BranchName] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cars_tbl]    Script Date: 23/04/2018 00:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars_tbl](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[CarTypeId] [int] NOT NULL,
	[ActuallyKm] [int] NOT NULL,
	[Picture] [varchar](150) NULL,
	[ProperToBeRent] [bit] NULL,
	[AvaibleToBeRent] [bit] NULL,
	[DayPrice] [int] NOT NULL,
	[DayDelayPrice] [int] NOT NULL,
	[PlateNumber] [int] NULL,
	[BranchId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carsType_tbl]    Script Date: 23/04/2018 00:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carsType_tbl](
	[CarTypeId] [int] IDENTITY(1,1) NOT NULL,
	[ModelMake] [varchar](30) NOT NULL,
	[Model] [varchar](30) NOT NULL,
	[ModelName] [varchar](30) NOT NULL,
	[ModelYear] [varchar](30) NOT NULL,
	[ModelBody] [varchar](30) NOT NULL,
	[ModelWeightKg] [int] NULL,
	[ModelDoors] [int] NULL,
	[Gear] [varchar](7) NOT NULL,
	[BranchesCar] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders_tbl]    Script Date: 23/04/2018 00:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_tbl](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[PickUpDate] [date] NOT NULL,
	[ReturnDate] [date] NOT NULL,
	[ActuallReturnDate] [date] NOT NULL,
	[UserId] [int] NULL,
	[CarId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_tbl]    Script Date: 23/04/2018 00:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_tbl](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](15) NOT NULL,
	[Identity] [int] NOT NULL,
	[UserName] [varchar](15) NOT NULL,
	[BirthDay] [date] NULL,
	[Gender] [varchar](7) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Passwords] [varchar](13) NOT NULL,
	[Picture] [varchar](150) NULL,
	[Rank] [varchar](10) NULL,
	[cart] [int] NULL,
 CONSTRAINT [PK__users_tb__1788CC4CE5788C84] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[branchs_tbl] ON 

INSERT [dbo].[branchs_tbl] ([BranchId], [Adress], [BranchName]) VALUES (1, N'Tel-Aviv Hshalom st.', N'REnty')
INSERT [dbo].[branchs_tbl] ([BranchId], [Adress], [BranchName]) VALUES (2, N'lo', N'gr')
INSERT [dbo].[branchs_tbl] ([BranchId], [Adress], [BranchName]) VALUES (3, N'lo', N'gr')
SET IDENTITY_INSERT [dbo].[branchs_tbl] OFF
SET IDENTITY_INSERT [dbo].[cars_tbl] ON 

INSERT [dbo].[cars_tbl] ([CarId], [CarTypeId], [ActuallyKm], [Picture], [ProperToBeRent], [AvaibleToBeRent], [DayPrice], [DayDelayPrice], [PlateNumber], [BranchId]) VALUES (45, 3, 60000, NULL, 1, 1, 145, 160, 1523142, 1)
INSERT [dbo].[cars_tbl] ([CarId], [CarTypeId], [ActuallyKm], [Picture], [ProperToBeRent], [AvaibleToBeRent], [DayPrice], [DayDelayPrice], [PlateNumber], [BranchId]) VALUES (46, 4, 70000, NULL, 1, 0, 150, 170, 1452364, 1)
INSERT [dbo].[cars_tbl] ([CarId], [CarTypeId], [ActuallyKm], [Picture], [ProperToBeRent], [AvaibleToBeRent], [DayPrice], [DayDelayPrice], [PlateNumber], [BranchId]) VALUES (48, 18, 50000, NULL, 0, 1, 190, 200, 1452364, 1)
SET IDENTITY_INSERT [dbo].[cars_tbl] OFF
SET IDENTITY_INSERT [dbo].[carsType_tbl] ON 

INSERT [dbo].[carsType_tbl] ([CarTypeId], [ModelMake], [Model], [ModelName], [ModelYear], [ModelBody], [ModelWeightKg], [ModelDoors], [Gear], [BranchesCar]) VALUES (3, N'Acura', N'4dr Sedan (2.0L 4cyl 5A)', N'ILX', N'2018', N'Compact Cars', 2955, 4, N'Auto', N'1')
INSERT [dbo].[carsType_tbl] ([CarTypeId], [ModelMake], [Model], [ModelName], [ModelYear], [ModelBody], [ModelWeightKg], [ModelDoors], [Gear], [BranchesCar]) VALUES (4, N'Acura', N'4dr SUV (3.5L 6cyl 6A)', N'MDX', N'2017', N'Sport Utility Vehicles', 4025, 4, N'auto', N'1')
INSERT [dbo].[carsType_tbl] ([CarTypeId], [ModelMake], [Model], [ModelName], [ModelYear], [ModelBody], [ModelWeightKg], [ModelDoors], [Gear], [BranchesCar]) VALUES (18, N'Audi', N'1.8 TFSI Premium 2dr ', N'A3', N'2018', N'Compact Cars', 4512, 4, N'Auto', N'1')
SET IDENTITY_INSERT [dbo].[carsType_tbl] OFF
SET IDENTITY_INSERT [dbo].[orders_tbl] ON 

INSERT [dbo].[orders_tbl] ([OrderId], [PickUpDate], [ReturnDate], [ActuallReturnDate], [UserId], [CarId]) VALUES (3, CAST(N'2018-08-19' AS Date), CAST(N'2018-09-21' AS Date), CAST(N'2018-09-21' AS Date), 1, NULL)
INSERT [dbo].[orders_tbl] ([OrderId], [PickUpDate], [ReturnDate], [ActuallReturnDate], [UserId], [CarId]) VALUES (5, CAST(N'2018-07-20' AS Date), CAST(N'2018-07-22' AS Date), CAST(N'2018-07-23' AS Date), 1, NULL)
INSERT [dbo].[orders_tbl] ([OrderId], [PickUpDate], [ReturnDate], [ActuallReturnDate], [UserId], [CarId]) VALUES (9, CAST(N'2014-01-01' AS Date), CAST(N'2017-03-02' AS Date), CAST(N'2017-07-08' AS Date), 3, NULL)
SET IDENTITY_INSERT [dbo].[orders_tbl] OFF
SET IDENTITY_INSERT [dbo].[users_tbl] ON 

INSERT [dbo].[users_tbl] ([UserId], [FullName], [Identity], [UserName], [BirthDay], [Gender], [Email], [Passwords], [Picture], [Rank], [cart]) VALUES (1, N'khaled abek', 200620488, N'khalbek', CAST(N'1988-07-19' AS Date), N'Male', N'khaledab102@gmail.com', N'khal123!', NULL, N'Admin', NULL)
INSERT [dbo].[users_tbl] ([UserId], [FullName], [Identity], [UserName], [BirthDay], [Gender], [Email], [Passwords], [Picture], [Rank], [cart]) VALUES (3, N'Katia Avko', 200312642, N'Kato', CAST(N'1999-08-20' AS Date), N'Female', N'katia@gmail.com', N'Kaka1@', NULL, NULL, NULL)
INSERT [dbo].[users_tbl] ([UserId], [FullName], [Identity], [UserName], [BirthDay], [Gender], [Email], [Passwords], [Picture], [Rank], [cart]) VALUES (7, N'SysAdmin', 123456789, N'Admin', NULL, N'--', N'Admin@admin.com', N'Admin1!', NULL, N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[users_tbl] OFF
/****** Object:  Index [UQ__users_tb__6E2BA98B9291056E]    Script Date: 23/04/2018 00:59:22 ******/
ALTER TABLE [dbo].[users_tbl] ADD  CONSTRAINT [UQ__users_tb__6E2BA98B9291056E] UNIQUE NONCLUSTERED 
(
	[Identity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cars_tbl]  WITH CHECK ADD FOREIGN KEY([BranchId])
REFERENCES [dbo].[branchs_tbl] ([BranchId])
GO
ALTER TABLE [dbo].[cars_tbl]  WITH CHECK ADD FOREIGN KEY([CarTypeId])
REFERENCES [dbo].[carsType_tbl] ([CarTypeId])
GO
ALTER TABLE [dbo].[orders_tbl]  WITH CHECK ADD FOREIGN KEY([CarId])
REFERENCES [dbo].[cars_tbl] ([CarId])
GO
ALTER TABLE [dbo].[orders_tbl]  WITH CHECK ADD  CONSTRAINT [FK__orders_tb__UserI__1BFD2C07] FOREIGN KEY([UserId])
REFERENCES [dbo].[users_tbl] ([UserId])
GO
ALTER TABLE [dbo].[orders_tbl] CHECK CONSTRAINT [FK__orders_tb__UserI__1BFD2C07]
GO
USE [master]
GO
